<!DOCTYPE html>
<html th:replace="~{base :: template (~{::main})}">
<body>
  <main>
    <h1>Cadastro de Diarista</h1>

    <form method="POST" th:object="${diarista}" enctype="multipart/form-data">

      <div class="mb-3">
        <label class="form-label" for="nomeCompleto">Nome Completo</label>
        <input class="form-control" type="text" th:field="*{nomeCompleto}">
        <ul>
          <li th:each="erro : ${#fields.errors('nomeCompleto')}" th:text="${erro}"></li>
        </ul>
      </div>

      <div class="mb-3">
        <label class="form-label" for="cpf">CPF</label>
        <input data-mask="000.000.000-00" class="form-control" type="text" th:field="*{cpf}">
        <ul>
          <li th:each="erro : ${#fields.errors('cpf')}" th:text="${erro}"></li>
        </ul>
      </div>

      <div class="mb-3">
        <label class="form-label" for="email">E-mail</label>
        <input class="form-control" type="email" th:field="*{email}">
        <ul>
          <li th:each="erro : ${#fields.errors('email')}" th:text="${erro}"></li>
        </ul>
      </div>

      <div class="mb-3">
        <label class="form-label" for="telefone">Telefone</label>
        <input data-mask="(00) 00000-0000" class="form-control" type="text" th:field="*{telefone}">
        <ul>
          <li th:each="erro : ${#fields.errors('telefone')}" th:text="${erro}"></li>
        </ul>
      </div>

      <div class="mb-3">
        <label class="form-label" for="logradouro">Logradouro</label>
        <input class="form-control" type="text" th:field="*{logradouro}">
        <ul>
          <li th:each="erro : ${#fields.errors('logradouro')}" th:text="${erro}"></li>
        </ul>
      </div>

      <div class="mb-3">
        <label class="form-label" for="numero">Número</label>
        <input class="form-control" type="text" th:field="*{numero}">
        <ul>
          <li th:each="erro : ${#fields.errors('numero')}" th:text="${erro}"></li>
        </ul>
      </div>

      <div class="mb-3">
        <label class="form-label" for="bairro">Bairro</label>
        <input class="form-control" type="text" th:field="*{bairro}">
        <ul>
          <li th:each="erro : ${#fields.errors('bairro')}" th:text="${erro}"></li>
        </ul>
      </div>

      <div class="mb-3">
        <label class="form-label" for="complemento">Complemento</label>
        <input class="form-control" type="text" th:field="*{complemento}">
        <ul>
          <li th:each="erro : ${#fields.errors('complemento')}" th:text="${erro}"></li>
        </ul>
      </div>

      <div class="mb-3">
        <label class="form-label" for="cep">CEP</label>
        <input data-mask="00000-000" class="form-control" type="text" th:field="*{cep}">
        <ul>
          <li th:each="erro : ${#fields.errors('cep')}" th:text="${erro}"></li>
        </ul>
      </div>

      <div class="mb-3">
        <label class="form-label" for="estado">Estado</label>
        <input class="form-control" type="text" th:field="*{estado}">
        <ul>
          <li th:each="erro : ${#fields.errors('estado')}" th:text="${erro}"></li>
        </ul>
      </div>

      <div class="mb-3">
        <label class="form-label" for="cidade">Cidade</label>
        <input class="form-control" type="text" th:field="*{cidade}">
        <ul>
          <li th:each="erro : ${#fields.errors('cidade')}" th:text="${erro}"></li>
        </ul>
      </div>

      <div class="mb-3">
        <label for="imagem" class="for-label">Foto</label>
        <input type="file" class="form-control" id="imagem" name="imagem">
      </div>

      <button class="btn btn-success" type="submit">Salvar</button>

    </form>
  </main>
</body>
</html>